body{
    background-color: whitesmoke;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
.card{
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.card-body{
    min-height: 46vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-title{
    white-space: nowrap ;

}
.card-img-top{
    height: 29vw;
    width: 29vw;
    object-fit: contain;
}

label{
    width: 150px;
    text-align: left;
}
.headerpic{
    height: 4.5rem;
    width: auto;
}

#cart table{
    width: 75%;
    margin: auto;
}

.option{
    text-align: center;
}
.login {
    align-items: end;
    width: 30%;
    margin: auto;
    text-align: center;
    font-size: large;
    font-style: normal;
    padding: 10px;


}
.login-inner mb-3,
.login-inner label,
.login-inner{
    text-align: center;
    margin: auto;
    width: 188px;
}
.login-inputs{
    text-align: center;

}
.register input {
    text-align: center;
    margin: auto;
    display: inline-block;
}
.register label{
    display: inline-block;
}
@media (min-width: 768px) {
    .col-md-4 {
        display: block;
        flex: 0 0 auto;
        width: auto;
    }
}
@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 auto;
        width: auto;
    }
}
@media (min-width: 768px) {
    .col-md-3 {
        flex: 0 0 auto;
        width: auto;
    }
}
.col-md-4{
    display: block;
}
label{
    white-space: nowrap;

}
.form-control{
    width: 188px;
}
main{
    width: auto;
    margin: auto;
}
main form div{
    width: auto;
    margin: auto;
}

.container {
    max-width: 600px;
    margin-top: 2%;
    background:whitesmoke;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
h1 {
    text-align: center;
    color: black;
}

h2 {
    text-align: center;
    color: black
    
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

select{
    display: block;
    margin-bottom: 20px;
    width: 100%;
    padding: 15px;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


section {
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0d6efd;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}


table{ 
    width: 100%;
    padding: 0%;
    margin-bottom: 15px;
    border-radius: 4px;
}